<%= render 'shared/header' %>

<div class="new-main">
  
  <div class="new-form">
    <div class="infomation">
      Houseの情報を入力
    </div>

    <%= form_with model: @house, id: 'new_house', local: true do |f| %>

    <div class="input-form">
      <div class="new-name">
        <%= f.label :name, "名前" %><br/>
        <%= f.text_area :name, class:"new-text", id:"item-name", placeholder:"（必須 40文字まで)", maxlength:"40" %>
      </div>
      <div class="new-introduction">
        <%= f.label :house_introduction, "紹介文" %><br />
        <%= f.text_area :house_introduction, class:"new-text", placeholder:"（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="new-btn">
      <%= f.submit "更新する" %>
    </div>
    <% end %>

  </div>
</div>