<%= render 'shared/header' %>

<div class="user-main">
  <div class="my-house">
    <div class="my-container">
      <div class="house_index">
        ユーザー一覧
      </div>
      <%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
      <% @users.where.not(id: current_user.id).each do |user| %>
        <div class="house-list">
          <div class="house-list-left">
            <div class="house-name">
              <li><%= user.nickname %></li>
            </div>
          </div>
          <div class="house-list-right">
            <%= link_to '詳細をみる', user_path(user) %>
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
