<%= render 'shared/header' %>

<div class="user-main">
  <div class="user">
    <div class="nickname">
      <%= "#{@user.nickname}さん マイページ" %>
    </div>
    <div class="introduction">
      <%= "紹介文：#{@user.user_introduction}" %>
    </div>
    <% if @user.id == current_user.id %>
      <div class="new-house">
        <%= link_to 'あたらしいHouseをつくる！', new_house_path %>
      </div>
    <% end %>
  </div>

  <br/>

  <div class="my-house">
    <div class="my-container">
      <div class="house_index">
        マイハウス一覧
      </div>
      <% @houses.where(owner_id: current_user.id).each do |house| %>
        <div class="house-list">
          <div class="house-list-left">
            <div class="house-name">
              <li><%= house.name %></li>
            </div>
            <div class="house-introduction">
              <%= house.house_introduction %>
            </div>
          </div>
          <div class="house-list-right">
            <%= link_to 'ルールを見る', house_roles_path(house), method: :get %>
            <% if house.owner_id == current_user.id %>
              <%= link_to '編集する', edit_house_path(house.id) %>
              <%= link_to '削除する', house_all_destroy_path(house.id), method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="my-container">
      <div class="house_index">
        所属ハウス一覧
      </div>
      <% @houses.where.not(owner_id: current_user.id).each do |house| %>
        <div class="house-list">
          <div class="house-list-left">
            <div class="house-name">
              <li><%= house.name %></li>
            </div>
            <div class="house-introduction">
              <%= house.house_introduction %>
            </div>
          </div>
          <div class="house-list-right">
            <%= link_to 'ルールを見る', house_roles_path(house), method: :get %>
            <% if house.users.ids.include?(current_user.id) %>
              <%= link_to '退会する', house_path(house), method: :delete %>
            <% else %>
              <%= link_to '参加する', house_join_path(house) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="my-container">
      <div class="house_index">
        フォロー
      </div>
      <% @followings.each do |following| %>
        <div class="house-list">
          <div class="house-list-left">
            <div class="house-name">
              <li><%= following.nickname %></li>
            </div>
            <div class="house-introduction">
              <%= following.user_introduction %>
            </div>
          </div>
          <div class="house-list-right">
            <%= link_to '詳細をみる', user_path(following) %>
            <%= render 'relationships/follow_button', user: following %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="my-container">
      <div class="house_index">
        フォロワー
      </div>
      <% @followers.each do |follower| %>
        <div class="house-list">
          <div class="house-list-left">
            <div class="house-name">
              <li><%= follower.nickname %></li>
            </div>
            <div class="house-introduction">
              <%= follower.user_introduction %>
            </div>
          </div>
          <div class="house-list-right">
            <%= link_to '詳細をみる', user_path(follower) %>
            <%= render 'relationships/follow_button', user: follower %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
